<%= params.inspect %>

<h2>New comment</h2>

<%#= form_for [@commentable, Comment.new], :url => "/", :mentod => "POST" do |f|%>
<%#*<p><%= f.label :content %>%>
  <%#= f.text_area :content %>
  <%#*</p>%>
  <%#*<p>%>
    <%#= f.submit "Submit" %>
  <%#*</p>%>
<%# end %>